<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-5 align-items-stretch video-box" style='background-image: url({{ about.photo }});'>
                <a href="https://www.youtube.com/watch?v=9JRpNVP-eKY" class="venobox play-btn mb-4" data-vbtype="video"
                   data-autoplay="true"></a>
            </div>

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                <div class="content">
                    <h3>{{ about.title }}</h3>
                    <p class="fst-italic">
                        {{ about.sup_desc }}
                    </p>
                    <ul>
                        <li><i class="bx bx-check-double"></i> {{ about.check_double_text_1 }}
                        </li>
                        <li><i class="bx bx-check-double"></i> {{ about.check_double_text_2 }}
                        </li>
                        <li><i class="bx bx-check-double"></i> {{ about.check_double_text_3 }}
                        </li>
                    </ul>
                    <p>
                        {{ about.inf_desc }}
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End About Section -->