<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
    <div class="container">

        <div class="section-title">
            <h2>{{ chefs.first.title }}</h2>
            <p>{{ chefs.first.com_desc }}</p>
        </div>

        <div class="row">
            {% for item in chefs %}
                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic">
                            <img src="{{ item.photo.url }}" class="img-fluid" alt="Тут розміщене фото кухаря або кухарки">
                        </div>
                        <div class="member-info">
                            <h4>{{ item.name }}</h4>
                            <span>{{ item.desc }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Chefs Section -->