<!-- ======= Events Section ======= -->
<section id="events" class="events">
    <div class="container">

        <div class="section-title">
            <h2>Organize Your <span>Events</span> in our Restaurant</h2>
        </div>

        <div class="events-slider swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="row event-item">
                        <div class="col-lg-6">
                            {% for item in events %}
                                <img src="{{ item.photo }}" class="img-fluid" alt="Тут міститься фото зазначеного заходу">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>{{ item.title }}</h3>
                                <div class="price">
                                    <p><span>{{ item.price }} UAH</span></p>
                                </div>
                                <p class="fst-italic">
                                    {{ item.sup_desc }}
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circle"></i> {{ item.point_text_1 }}
                                    </li>
                                    <li><i class="bi bi-check-circle"></i> {{ item.point_text_2 }}
                                    </li>
                                    <li><i class="bi bi-check-circle"></i> {{ item.point_text_3 }}
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    <div class="swiper-pagination"></div>
                </div>
             </div>
        </div>
    </div>
    </div>
</section>
<!-- End Events Section -->