<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        {% for item in testimonials %}
                            <img src="media/testimonials/{{ item.author }}" class="testimonial-img" alt="">
                            <h3>{{ item.author }}</h3>
                            <h4>{{ item.author_desc }}</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                {{ item.quote }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        {% endfor %}
                    </div>
                </div><!-- End testimonial item -->
            </div>

            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
<!-- End Testimonials Section -->